---
import "@/styles/global.css"
import ToggleTheme from "@/components/ToggleTheme.astro"
---

<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link
			href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap"
			rel="stylesheet"
		>
		<link rel="icon" href="data:,">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV" crossorigin="anonymous" />
		<meta name="generator" content={Astro.generator} />
		<title>データ構造とアルゴリズム入門</title>
	</head>
	<body>
		<div class="responsive-container">
			<slot />
			<ToggleTheme />
		</div>
	</body>
</html>